<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- Roteamento de URL amigável -->
    <rewrite>
      <rules>
        <!-- Roteamento para arquivos estáticos na pasta public/pages -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^public/pages/(.*)" />
          <action type="Rewrite" url="public/pages/{R:1}" />
        </rule>

        <!-- Roteamento para o index.html na raiz -->
        <rule name="IndexHtml" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="index.html" />
        </rule>

        <!-- Roteamento para o backend Node.js -->
        <rule name="NodeBackend" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="private/index.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      logDirectory="C:\Projects\cdr-tools\logs"
      debuggingEnabled="true"
      node_env="production"      
    />

    <!-- Configuração do iisnode -->
    <handlers>
      <add name="iisnode" path="private/index.js" verb="*" modules="iisnode" />
    </handlers>

  </system.webServer>
</configuration>
