.navbar-brand .logo {
    width: 100px;
}

.settings-icon .bi-gear {
    width: 24px;
}

/* Container */

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.my-8 {
    margin-top: calc(1rem * 15);
}

@media only screen and (max-width: 600px) {
    .my-8 {
        margin-top: calc(1rem * 4);
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .my-8 {
        margin-top: calc(1rem * 6);
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .my-8 {
        margin-top: calc(1rem * 8);
    }
}

@media only screen and (min-width: 1441px) {
    .my-8 {
        margin-top: calc(1rem * 10);
    }
}

.listaDeMedicos,
.formularios {
    background-color: #FBBC4F;
    width: 400px;
    height: 400px;
    transition: 200ms;
    color: #fff;
}

@media only screen and (max-width: 470px) {

    .listaDeMedicos,
    .formularios {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 471px) and (max-width: 600px) {

    .listaDeMedicos,
    .formularios {
        width: 200px;
        height: 200px;
    }

    h3 {
        font-size: 1em;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    .listaDeMedicos,
    .formularios {
        width: 250px;
        height: 250px;
    }

    h3 {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

    .listaDeMedicos,
    .formularios {
        width: 300px;
        height: 300px;
    }

    h3 {
        font-size: 1.4em;
    }
}

.listaDeMedicos:hover,
.formularios:hover {
    background-color: #e69915;
    color: #ffe7be;
}

.icon .bi {
    /* background-color: #fff; */
    font-size: 6em;
}

.navbar .nav-item .nav-link .bi {
    font-size: 1.5em;
}

.fade {
    background-color: #0000005d;
}

/* dentro do modal */

#sortable {
    min-height: 50px;
    border: 1px solid #ccc;
    padding: 10px;
}

.draggable {
    cursor: move;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    width: 200px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ffe7be;
    text-decoration: none;
}