.navbar-brand .logo {
    width: 150px;
}

.navbar-brand h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: -130px;
}

.nav-item .nav-link i {
    margin-right: 4px;
}

@media (max-width: 375px) {
    .navbar-brand .logo {
        width: 80px;
    }

    .navbar-brand h5 {
        font-size: 1rem;
        margin-left: -30px;
    }

    .nav-item .nav-link i {
        margin-right: 0;
    }
}

@media (min-width: 376px) and (max-width: 605px) {
    
    .navbar-brand .logo {
        width: 100px;
    }

    .navbar-brand h5 {
        font-size: 1.2rem;
        margin-left: -50px;
    }

    .nav-item .nav-link i {
        margin-right: 0;
    }

}

@media (min-width: 606px ) and (max-width: 768px) {
    
    .navbar-brand .logo {
        width: 120px;
    }

    .navbar-brand h5 {
        font-size: 1.3rem;
        margin-left: -90px;
    }

    .nav-item .nav-link i {
        margin-right: 0;
    }
}

@media (min-width: 769px ) and (max-width: 1024px) {
 
    .navbar-brand .logo {
        width: 130px;
    }

    .navbar-brand h5 {
        font-size: 1.4rem;
        margin-left: -100px;
    }

    .nav-item .nav-link i {
        margin-right: 0;
    }
}
