@import url('./navbar.css');
@import url('./global.css');

.nav-item .nav-link {
    width: 100px;
}


.hide{
    display: none;
}

.form-control {
    border-color: #3a3a3a;
}



  @media (max-width: 900px) {
    .pessoaExame, .medicoEspecialidade, .pergunta{
      margin: 0 ;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    .content{
      padding: 0 80px;
    }
  }
  @media (max-width: 750px) {
    
    .content{
      padding: 0 30px;
    }
  }