
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   padding: 20px;
}

.head {
   height: 120px;
   overflow: hidden;
}

.logo {
   float: left;
   width: calc(50% - 10px);
   border: 1px black solid;
   height: 100%;
   position: relative;
}

.text-head {
   float: right;
   width: calc(50% + 10px);
   height: 100%;
   border-right: 1px black solid;
   border-bottom: 1px black solid;
   border-top: 1px black solid;
   position: relative;
   text-align: center;
}

.text-head h4 {
   position: absolute;
   top: 40%;
   left: 10%;
   transform: translate(-50%, -50%);
}

.first-box {
   margin-top: 15px;
   border: solid 1px black;
   padding: 10px;
   overflow: hidden;
}

.cabecalho {
   width: calc(50% - 10px);
   float: left;
   overflow: hidden;
   border-right: solid 1px black;
}

.infos-box {
   overflow: hidden;
   
}

.left-info {
   float: left;
   width: 100%;
}

.left-info div,
.right-info div {
   margin-bottom: 20px;
}

.aside-box {
   width: calc(50% - 10px);
   float: right;
   overflow: hidden;
}

.aside-box ul {
   text-decoration: none;
   list-style: none;   
}

ul li {
   margin-bottom: 15px;
   overflow: hidden;
   margin-bottom: 20px;
}

.qt{
    font-weight: 700;
}

.doctor-info {
   overflow: hidden;
   width: 800px;
   margin: 15px 0;
}

.box-docName {
   width: 70%;
   float: left;
}

.box-crm,
.box-spec {
   width: 30%;
   float: left;
}

.box-spec {
   margin-top: 10px;
}

.question {
   margin: 20px 0;
   overflow: hidden;
}

.q {
   font-weight: bold;
   width: auto;
   float: left;
   margin-right: 10px;
}

.text-med {
   clear: left;
}

.text-med p {
   display: inline-block;
   line-height: 25px;
}

#table-q5 {
   border-collapse: collapse;
   width: 100%;
}

#table-q5 th,
#table-q5 td {
   border: #000 1px solid;
   text-align: center;
   padding: 6px;
}

th:nth-child(1),
td:nth-child(1) {
   width: 33%;
}

th:nth-child(2),
td:nth-child(2) {
   width: 33%;
}

th:nth-child(3),
td:nth-child(3) {
   width: 33%;
}

.q7,
.q8,
.q9,
.q10,
.q11,
.q12,
.q14,
.q15,
.q16,
.q17,
.q18 {
   overflow: hidden;
   margin: 10px 0;
}

.box-q11 {
   overflow: hidden;
   margin-top: 10px;
}

.q12,
.q15,
.q16 {
   width: 100%;
   float: left;
   margin-top: 10px;
}

.q12 .q,
.q15 .q,
.q16 .q {
   width: 100%;
   float: left;
}

#qan,
.qan {
   clear: left;
}

.rad-choose {
   margin-right: 25px;
   margin-bottom: 5px;
}

svg {
   height: 115px;
   width: 350px;
}
